<div class="bg-[#9AD0C2]">
  <h2 class="text-center text-4xl font-semibold pt-8">Contact Me !</h2>
  <div class="flex justify-center p-6">
    <form (submit)="handleFormSubmit()">
      <div class="inputElement">
        <label> First Name: </label><br />
        <input type="text" name="firstName" [(ngModel)]="data.firstName" />
      </div>
      <div class="inputElement">
        <label> Last Name: </label><br />
        <input type="text" name="lastName" [(ngModel)]="data.lastName" />
      </div>
      <div class="inputElement">
        <label> Email: </label><br />
        <input type="email" name="email" [(ngModel)]="data.email" />
      </div>
      <div class="inputElement">
        <label> Message: </label><br />
        <textarea
          name="message"
          id="message"
          [(ngModel)]="data.message"
        ></textarea>
      </div>
      <div>
        <button class="rounded-md" type="submit">Send</button>
      </div>
    </form>
  </div>

  @if(contact.firstName!="undefined"){
  {{ contact.email }}
  }
</div>
