<nav class="bg-[#F1FADA] p-10">
  <ul class="flex justify-evenly text-xl font-medium">
    <img
      class="h-10 w-10"
      src="https://img.freepik.com/free-vector/bird-colorful-logo-gradient-vector_343694-1365.jpg?w=740&t=st=1708081491~exp=1708082091~hmac=86f9cf222acc9b6ed74796c9c548527e74e7abbc005dc104ac69a584956fd6ae"
      alt="Logo"
    />
    <li><a routerLink="">Home</a></li>
    <li><a routerLink="/about">About</a></li>
    <li><a routerLink="/project">Projects</a></li>
    <li><a routerLink="/contact">Contact</a></li>
    <li><a routerLink="/dummy">Dummy</a></li>
  </ul>
</nav>
