<p>dummy works!</p>
<div class="flex justify-center">
  @if (users) {
  <table class="border border-black">
    <tr class="border">
      <th class="border">ID</th>
      <th>Name</th>
      <th>Bio</th>
    </tr>

    <tr>
      <td>
        {{ users[currentIndex].id }}
      </td>
      <td>
        <p>{{ users[currentIndex].name }}</p>
      </td>
      <td>
        <p>{{ users[currentIndex].bio }}</p>
      </td>
    </tr>
  </table>
  <br />

  }
</div>
<div class="text-center p-4 m-4">
  <button class="border border-black m-4 p-2" (click)="previousButtonClick()">
    Previous
  </button>
  <button class="border border-black p-2" (click)="nextButtonClick()">
    Next
  </button>
</div>
